.DeckSummaryPreview {
  padding: 1em;
  border: 1px double $tenaciousBench;
  background-color: $immovableObject;
  color: $tenaciousBench;
  font-family: $general;

  &.selected {
    border: 5px solid $unstoppableForce;
  }
}