.MdTextEditorField {
  display: flex;
  flex-direction: column;

  .input-output {
    display: flex;
    height: 400px;

    textarea {
      width: 50%;
      height: 100%;
      border: 3px dashed red;
    }
    
    [class*="md-view"] {
      width: 50%;
      height: 100%;
      border: 3px dashed blue;
    }
  }
}
